# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/

# VS Code
.vscode/

# Data & DB files (avoid pushing large local DB files)
data/expenses.db
*.sqlite3

# OS files
Thumbs.db
.DS_Store
